/* ..............header............ */

/* -------------tablet----------- */

@media only screen and (max-width: 900px) {
  section,
  .header {
    width: 89.71vw;
  }

  .header {
    margin-top: 3.125vw;
  }

  header img {
    width: 11.588vw;
    height: 4.55vw;
  }

  header .getstarted {
    width: 18.22vw;
    height: 6.25vw;
    border-radius: 3.125vw;
  }
}

/* ----------------/tablet------------- */

/* --------------mobile---------------- */

@media only screen and (max-width: 750px) {
  section,
  .header {
    width: 91.46vw;
  }

  .header {
    margin-top: 4.26vw;
  }

  header img {
    width: 23.73vw;
    height: 9.33vw;
  }

  header .getstarted {
    width: 37.33vw;
    height: 12.8vw;
    border-radius: 6.4vw;
  }
}

/* ------------/mobile----------- */

/* .............button............*/

@media only screen and (max-width: 900px) {
  .getstarted {
    font-size: 2.08vw;
  }
}

@media only screen and (max-width: 750px) {
  .getstarted {
    font-size: 4.26vw;
  }
}

/* ...........top of page............ */

/* ----------teblet------------- */

@media only screen and (max-width: 900px) {
  #herodesktop {
    display: none;
  }

  #herotablet {
    display: block;
  }

  p {
    font-size: 2.08vw;
    line-height: 3.38vw;
  }

  #toppage {
    margin-top: 12.89vw;
  }

  .hero {
    top: -11.98vw;
    right: -38.76vw;
    width: 83.42vw;
    height: 83.33vw;
  }

  #webinfo {
    width: 51.82vw;
  }

  #webinfo h1 {
    font-size: 5.2vw;
  }

  #webinfo p {
    margin-top: 3.25vw;
  }

  #webinfo .getstarted {
    width: 21.74vw;
    height: 7.29vw;
    border-radius: 3.645vw;
    margin-top: 3.128vw;
  }
}

/* ------------/tablet------------ */

/* -------------mobile------------- */
@media only screen and (max-width: 750px) {
  #herodesktop,
  #herotablet {
    display: none;
  }

  #heromobile {
    display: block;
  }

  p {
    font-size: 4.26vw;
    line-height: 6.93vw;
  }

  #toppage {
    margin-top: 10.13vw;
    flex-direction: column;
  }

  .hero {
    position: static;
    z-index: 1;
    width: 87.2vw;
    height: 80.26vw;
    margin-top: 12.26vw;
  }

  #webinfo {
    width: 91.46vw;
  }

  #webinfo h1 {
    font-size: 10.66vw;
  }

  #webinfo p {
    margin-top: 6.93vw;
  }

  #webinfo .getstarted {
    width: 44.53vw;
    height: 14.93vw;
    border-radius: 7.465vw;
    margin-top: 6.4vw;
  }
}

/* ----------/mobile-------- */

/* ..........middle of page.......... */

/* ---------------tablet----------- */
@media only screen and (max-width: 900px) {
  #midpage {
    margin-bottom: 9.72vw;
    margin-top: 11.2vw;
  }

  #grid {
    display: grid;
    grid-template-columns: repeat(2, 44.14vw);
    grid-template-rows: repeat(3, 33.72vw);
    width: 100%;
    column-gap: 1.3vw;
    row-gap: 7.29vw;
  }

  .courses {
    width: 44.14vw;
    height: 33.72vw;
    border-radius: 1.3vw;
    box-shadow: 0px 3.25vw 6.5vw rgba(6, 22, 141, 0.0442381);
    display: flex;
    justify-content: column;
    position: relative;
  }

  .courses img {
    position: absolute;
    width: 7.29vw;
    height: 7.29vw;
    top: -3.125vw;
  }

  .courses h3 {
    font-size: 2.6vw;
    font-weight: 800;
    margin-bottom: 2.08vw;
  }

  .start {
    position: absolute;
    bottom: 4.16vw;
    font-weight: 700;
    color: #f74780;
    background: none;
    border: 0;
    font-size: 2.34vw;
  }

  .courses button:hover {
    color: #ffa7c3;
    cursor: pointer;
    transition: 0.3s;
  }

  .text {
    padding: 7.29vw 2.73vw 10.93vw 4.16vw;
    height: 100%;
  }

  #intro {
    color: white;
    background: linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%);
  }

  #intro h2 {
    font-size: 3.125vw;
    line-height: 4.16vw;
    margin: 7.29vw 2.73vw 18.1vw 4.16vw;
  }
}
/* -----------------/tablet------------- */

/* ---------------mobile-------------- */
@media only screen and (max-width: 750px) {
  #midpage {
    margin-bottom: 21.13vw;
    margin-top: 17.6vw;
  }

  #grid {
    display: grid;
    grid-template-columns: repeat(1, 91.46vw);
    grid-template-rows: 32vw repeat(5, 69.06vw);
    width: 100%;
    row-gap: 10.66vw;
  }

  .courses {
    width: 91.46vw;
    height: 69.06vw;
    border-radius: 2.66vw;
    box-shadow: 0px 6.6vw 13.3vw rgba(6, 22, 141, 0.0442381);
    display: flex;
    justify-content: column;
    position: relative;
  }

  .courses img {
    position: absolute;
    width: 14.93vw;
    height: 14.93vw;
    top: -6.4vw;
  }

  .courses h3 {
    font-size: 5.33vw;
    font-weight: 800;
    margin-bottom: 4.26vw;
  }

  .start {
    position: absolute;
    bottom: 8.53vw;
    font-weight: 700;
    color: #f74780;
    background: none;
    border: 0;
    font-size: 4.8vw;
  }

  .courses button:hover {
    color: #ffa7c3;
    cursor: pointer;
    transition: 0.3s;
  }

  .text {
    padding: 14.93vw 7.73vw 22.4vw 7.46vw;
    height: 100%;
  }

  #intro {
    color: white;
    height: 32vw;
    background: linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%);
  }

  #intro h2 {
    font-size: 6.4vw;
    line-height: 8.53vw;
    margin: 6.4vw 7.73vw 8.53vw 7.46vw;
  }
}

/* ------------------/mobile----------- */

/* ..............footer............... */

/* ------------tablet------------- */
@media only screen and (max-width: 900px) {
  footer {
    height: 15.625vw;
  }

  footer img {
    width: 11.588vw;
    height: 4.55vw;
  }

  footer .getstarted {
    width: 18.22vw;
    height: 6.25vw;
    border-radius: 3.125vw;
  }

  footer div {
    width: 89.71vw;
  }
}

/* -----------------/tablet--------------- */

/* ----------------mobile---------------- */
@media only screen and (max-width: 750px) {
  footer {
    height: 32vw;
  }

  footer img {
    width: 23.73vw;
    height: 9.33vw;
  }

  footer .getstarted {
    width: 37.33vw;
    height: 12.8vw;
    border-radius: 6.4vw;
  }

  footer div {
    width: 91.46vw;
  }
}
